<div class="jumbotron mt-4">
    <h1 class="display4">Notes++</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
    <hr>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore minima quibusdam nesciunt? Fugit omnis eius quas. Qui perferendis neque officiis, cumque, exercitationem, eligendi autem repellendus facilis maxime placeat modi nesciunt?</p>
    <button class="btn btn-primary">Go!!</button>
</div>